{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}


  <h1>Team Players</h1>

<section class="Players">
  <div class="container">
    <div class="main-players">           
      {% for key,teamPlayer in teamPlayers %}
        <div class="hero-player-block">	
                  <div class="center">
                    <a href="#" class="button show-btn mt-2 mb-2">Buy</a>
                  <a href="#" class="button edit-btn mt-2 mb-2">Sell</a> </div>			
          <a href="{{ path('app_player_edit', {'id': teamPlayer.id}) }}" class="player">
            <div class="img-player">
              <img src="{{ asset(player_dir ~ teamPlayer.image ) }}" alt="Player-img">
            </div>

            <div class="info-player">
              <div class="name-player">
                <h2>{{ teamPlayer.firstname }}
                  {{ teamPlayer.lastname }}</h2>
              </div>
            </div>
          </a>
        </div>
      {% else %}
        <tr>
          <td colspan="7">no records found</td>
        </tr>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
