{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<section class="Teams" style="background-image: url(images/teams-landingbg.jpg);">
        <div class="container">
            <div class="ipl">
                <img src="images/teams-landing-logo.png" alt="teams-landing-logo">
            </div>
            <div class="main-teams">
       {% for key,team in teams %}
            <a class="csk" href="player.html">
                <div class="csk-logo">
                    <img src="{{ asset(team_dir ~ team.logo ) }}" alt="csk-logo">
                </div>
                <div class="heading">
                    <h3>{{team.name}}</h3>
                </div>
            </a>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}