{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<section class="Teams" style="background-image: url(images/teams-landingbg.jpg);">
        <div class="container">
{% if teams|length > 0 %}

            <div class="team-block">
                {% for key,team in teams %}
                <div class="team-data">

                        <a class="csk" href="{{ path('app_team_edit', {'id': team.id}) }}">
                            <div class="team-player">
                                <img src="{{ asset(team_dir ~ team.logo ) }}" alt="csk-logo">
                            </div>
                            <div class="team-txt">
                                <h3>{{team.name}}</h3>
                            </div>
                        </a>
                </div>

                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}