{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<section class="Teams" style="background-image: url(images/teams-landingbg.jpg);">
        <div class="container">
            <div class="ipl">
                <img src="images/teams-landing-logo.png" alt="teams-landing-logo">
            </div>
            <div class="main-teams">
       {% for key,team in teams %}
            <a class="csk" href="player.html">
                <div class="csk-logo">
                    <img src="{{ asset(team_dir ~ team.logo ) }}" alt="csk-logo">
                </div>
                <div class="heading">
                    <h3>{{team.name}}</h3>
                </div>
            </a>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
                {# <a class="csk dc" href="player.html">
                    <div class="csk-logo dc-color">
                        <img src="images/dcoutline.png" alt="dc-logo">
                    </div>
                    <div class="heading">
                        <h3>Delhi Capitals</h3>
                    </div>
                </a>
                <a class="csk" href="player.html">
                    <div class="csk-logo gt-color">
                        <img src="images/GToutline.png" alt="Gt-logo">
                    </div>
                    <div class="heading">
                        <h3>Gujarat Titans</h3>
                    </div>
                </a>
                <a class="csk kkr" href="player.html">
                    <div class="csk-logo kkr-color">
                        <img src="images/KKRoutline.png" alt="KkR-logo">
                    </div>
                    <div class="heading">
                        <h3>Kolkata Knight Riders</h3>
                    </div>
                </a>
                <a class="csk lsg" href="player.html">
                    <div class="csk-logo lsg-color">
                        <img src="images/LSGoutline.png" alt="lucknow-logo">
                    </div>
                    <div class="heading">
                        <h3>Lucknow Super Giants</h3>
                    </div>
                </a>
                <a class="csk mi" href="player.html">
                    <div class="csk-logo mi-color">
                        <img src="images/MIoutline.png" alt="Mi-logo">
                    </div>
                    <div class="heading">
                        <h3>Mumbai Indians</h3>
                    </div>
                </a>
                <a class="csk mi" href="player.html">
                    <div class="csk-logo Pbks-color">
                        <img src="images/PBKSoutline.png" alt="Pbks-logo">
                    </div>
                    <div class="heading">
                        <h3>Punjab Kings</h3>
                    </div>
                </a>
                <a class="csk mi" href="player.html">
                    <div class="csk-logo RR-color">
                        <img src="images/RRoutline.png" alt="RR-logo">
                    </div>
                    <div class="heading">
                        <h3>Rajasthan Royals</h3>
                    </div>
                </a> #}
            </div>
        </div>
    </section>
{% endblock %}
